.border {
    border:2px solid darkblue;
    width: 550px;
    height:325 px;
}

#container{
    width:600px;
   /* margin-top:20px; */
    margin-right:auto;
    text-align: Center;
    background-color:#ffffff;

    }

 #container2{
        width:550px;
       /* margin-top:20px; */
        margin-right:auto;
        text-align: Center;
        background-color:#2184b9;
    
    }

