/*Andrew Lane
December 1st, 2022 */

@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap');

@font-face{
font-family: 'murdencf';
src: url('../fonts/murdencfextrabold-regular-webfont.woff') format('woff'),
     url('../fonts/murdencfextrabold-regular-webfont.woff2') format('woff2');
}

ul{
    font-size:120%;
    padding: 1em;
    margin-top:2em;
    margin: 0px auto;
    list-style-type: none;
    margin-bottom:3em;

}

html{
    text-align: center;
    color:white;
    font-family: 'Open Sans', sans-serif;
}

body{
background: #0e1821

}

h1{
    font-size: 350%;
    margin-bottom: 50px;
    color: whitesmoke;
    font-family: 'murdencf', comicsans;
    background-image: linear-gradient(-10deg, #1e2a4b, #006699,#1e2a4b)
}

a:link{
    color:whitesmoke;
}

a:visited{
    color:orange;
}

a:hover{
    color:lightcoral;
}

a:active{
    color:lime;
}

.resize{
width:70%; 
height: 70%;
margin-left: auto;
margin-right: 25em;


}

input{
    transition: all 0.5s ease;
}

input:focus{
    font-size: 120%;
    padding: 2.5px;
    border: 1px solid greenyellow;
    outline: none;

}
